*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
    text-align: center;
}
ul{
    list-style: none;
    
}
ul> li{
padding:10px;
}

ul>li>p{
    display: none;
}