* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
div{
    text-align: center;
}
.light {
    border: 1px solid ;
    width: 160px;
    height: 160px;
    margin: 20px;
    border-radius: 50%;
}
button{
    all: unset;
border: 1px solid;
padding: 10px 20px;
border-radius: 10px;
cursor: pointer;
transition: 0.3s ease-in-out all;
}
button:hover{
    background-color: lightpink;
    border: none;
    color: #FFF;
}
.red-bg{
    border: none;
    background-color: red;
}
.yellow-bg{
    border: none;
    background-color: yellow;
}
.green-bg{
    border: none;
    background-color: green;
}